{{!-- sort by date created, link to property/:id --}}
<div class="row text-center">
    <div class="col-12">
        <h4 id="propertyListHeader">Recently Reviewed Properties: </h4>
    </div>
</div>

{{#each properties as |property| }}
<div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-10 property-card">
        <div class="card">
            <div class="card-header">
                <a href="/api/property/{{property.id}}">{{property.address}}</a><span> Total Reviews: {{property.reviews.length}}</span>
            </div>
            <div class="card-body">
                {{#if reviews.length}}
                <p class="card-subtitle mb-2">Most Recent Reviews</p>
                    {{#each reviews as |review|}}
                    <p class="card-text">{{review.user.name}} Rated:
                        {{review.rating}}/5 - <a href="/api/reviews/{{review.id}}">{{review.title}}</a></p>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
</div>
{{/each}}