<div class="row text-center">
  <div class="col-12" id="propertyListHeader">
    <h4>{{address}}</h4>
    <h5><span class="text-muted"> <i class="fas fa-star"></i>
        {{rating_average reviews}} ({{reviews.length}} {{format_plural 'review' reviews.length}})</span></h5>
  </div>
</div>


{{#if logged_in}}
<div class="row justify-content-md-center">
  <div class="col-sm-12 col-md-10 col-lg-8 text-center review-form-cont">
    <h5 class="text-center review-form-header">Leave a Review:</h5>
    <form class="form review-form row justify-content-md-center align-items-center">
      <div class="form-group col-sm-12 col-lg-6">
        <input class="form-input col-12" type="text" id="review-title" placeholder="Title" />
      </div>
      <div class="form-group col-sm-12 col-lg-6 ">
        {{!-- radio buttons here --}}
        <div class="col-12">
          <h6>Rating: </h6>
          <div class="form-check form-check-inline col-auto">
            <input class="form-check-input" type="radio" name="reviewRating" id="rating1" value="1">
            <label class="form-check-label" for="rating1">
              1/5
            </label>
          </div>
          <div class="form-check form-check-inline col-auto">
            <input class="form-check-input" type="radio" name="reviewRating" id="rating2" value="2">
            <label class="form-check-label" for="rating2">
              2/5
            </label>
          </div>
          <div class="form-check form-check-inline col-auto">
            <input class="form-check-input" type="radio" name="reviewRating" id="rating3" value="3">
            <label class="form-check-label" for="rating3">
              3/5
            </label>
          </div>
          <div class="form-check form-check-inline col-auto">
            <input class="form-check-input" type="radio" name="reviewRating" id="rating4" value="4">
            <label class="form-check-label" for="rating4">
              4/5
            </label>
          </div>
          <div class="form-check form-check-inline col-auto">
            <input class="form-check-input" type="radio" name="reviewRating" id="rating5" value="5">
            <label class="form-check-label" for="rating5">
              5/5
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control col-12" id="review-desc" placeholder="More Information:"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary col-10" id="postBtn" data-id="{{id}}" type="submit">Add Review</button>
      </div>
    </form>
  </div>
</div>
{{!-- else login to add review! --}}
{{else}}


<div class="row justify-content-md-center">
  <div class="col-sm-12 col-md-8 col-lg-4 text-center">
    <form class="form login-form">
      <h4>Login or Sign Up To Review!</h4>
      <div class="form-group">
        <a href="/login" class="btn btn-primary">Login / Sign Up</a>
      </div>
    </form>
  </div>
</div>
{{/if}}



<div class="row justify-content-md-center">
  {{#if reviews.length}}
  <div class="row text-center">
    <div class="col-12">
      <h4 id="reviewListHeader">Other Renter Reviews: </h4>
    </div>
  </div>
  {{#each reviews as |review| }}
  <div class="col-sm-10 col-lg-8 text-center review-list">
    <div class="col-12 recent-review-card">
      <div class="card">
        <div class="card-header">
          <h5 class="text-start"><a href="/api/users/{{review.user_id}}">{{review.user.name}}</a><span class="text-muted"><i class="fas fa-star"></i>
              {{review.rating}}/5</span></h5>
        </div>
        <div class="card-body">
          <h5 class="card-title text-start">{{review.title}}<span
              class="text-muted"> - {{format_date review.created_at}}</span></h5>
          <h6 class="card-subtitle text-start">{{review.description}}</h6>
          {{!-- <button class="btn btn-sm btn-primary col-5 viewBtn" id="viewBtn" data-id="{{review.id}}">View
            More</button> --}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  {{/if}}
</div>





{{#if logged_in}}
<script src="/js/review.js"></script>
{{/if}}